<!DOCTYPE html>
<html>
    <head>
        <title>DSV - File Consolidator</title>
        
    </head>
    <body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <h1>Excel to SQL Database</h1>
    <div>
      <form action="#" method="POST">
        <div>
          <label>Folder Location:</label>
          <input type="text" name="ii">         
        </div>
        
        <div class="mb-4">
          <label>Process Type:</label>
          <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>        
        </div>
    
        <div>
          <input type="submit" value="submit">
        </div>
      </form>
      
    </div>
    </body>
</html>